/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2016, 10:40:18 PM
    Author     : Mary
*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
/**{
/*    font-family: 'Roboto Slab', sans-serif; font-weight: 300;}  /* Семейство шрифтов 
*/    

*{
    font-family: Areal;
    color: #464646;
}

html{
    height: 100%;
}

.page-body{
    background-color: #F7F7F7;
    /*background-image:  url("../resources/images/background2.png");*/
    background-repeat: repeat;
    height: 100%;
}
/* background-color: #669BBA; */
.header{
    /*background-color: #00B4CC;*/
    background-color: rgba(0, 155, 175, 0.7);
    position: fixed;
    z-index: 3;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    padding-left: 10%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    border: 0px solid black;
} 
.title{
    /* font-family: 'Roboto Slab', sans-serif; font-weight: 700; */
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color: cornsilk;
}
.title-block{
    width: 300px;
    margin-top: 17px;
    border: 0px solid black;
    float: left;  
}
.header-button{
    /*background-color: #68ACAD;*/
    background-color: #0EBCD3;
    color: cornsilk;
    float: right;
    height: 60px;
    width: 100px;
    margin-bottom: 5px;
    margin-left: 2px;
    border: 0px solid black;
    box-shadow: 0 0 3px -1px #588182;
}
.header-button:hover{
    /*background-color: #6FB7B7;*/
    box-shadow: 0 0 5px 0px #707070;
}

.header-button1{
    /*background-color: #68ACAD;*/
    color: cornsilk;
    float: right;
    height: 60px;
    width: 100px;
    margin-right:0px;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0 0 6px -1px #588182;
}
.header-button-search{
    /*background-color: #68ACAD;*/
    background-color: #0EBCD3;
    color: cornsilk;
    float: right;
    height: 25px;
    width: 60px;
    margin-right:65px;
    margin-top: 18px;
    margin-bottom: 28px;
    border: 0px solid black;
    box-shadow: 0 0 6px -1px #588182;
}
.header-button-search:hover{
    box-shadow: 0 0 5px 0px #707070;
}
.header-search{
    float: right;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 0px solid black;
    box-shadow: 0 0 6px -1px #588182;
}
.navigation{
    /*background-color: #68ACAD;*/
    color: cornsilk;
    float: right;
    height: 60px;
    width: 120px;
    margin-right:0px;
    border: 0px solid black;
    box-shadow: 0 0 6px -1px #588182;
    text-align: center;
}

.feed{
    background-color: #FFFFFF;
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 80px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    /*box-shadow: 0 0 3px -1px;*/
    box-shadow: 1px 1px 0 rgba(235,235,235,1), 2px 2px 0 rgba(240,240,240,1), 3px 3px 0 rgba(243,243,243,1);
}

.headline{
    position: relative;
    text-align: center;
    margin-top: 30px;
}
.headline span {
    display: inline-block;
    padding: 0 20px;
    background: white;
    position: relative;
    z-index: 2;
    color: #464646;
}
.headline:before {
  content: "";
  border-top: 1px  double #E5E5E5;
  border-bottom: 1px  double #E5E5E5;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
}

.clear {
    clear: left; /* Отмена обтекания */
   }


